body {
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    padding: 30px 30px 40px;
    background-color: #f7e017;
    margin-bottom: 30px;
}

h1 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
}

.currency-box {
    max-width: 400px;
}

.currency-row {
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.currency-row:first-child {
    border-radius: 6px 6px 0 0;
}

.currency-row:last-child {
    border-radius: 0 0 6px 6px;
}

.currency-row:not(:last-child) {
    margin-bottom: -1px;
}

.usd-info {
    margin-right: 15px;
    padding: 10px 15px;
    height: 100%;
    background-color: #e3e3e3;
    font-size: 22px;
}

.eur-info {
    margin-right: 15px;
    padding: 10px 13px;
    height: 100%;
    background-color: #e3e3e3;
    font-size: 22px;
}

.currency-row span {
    font-size: 22px;
    font-weight: 20;
    margin-right: 10px;
}
